
:root{
  --SecondBackgroundColor: #050a20;
  --ThirdBackgroudColor: #fff;
  --textColor: #fff;
}

.gral-container{
 display: flex;
 width: 100%;
 height: 70vh;
 align-items: space-around;
 justify-content: space-around;
 
}

.deleteButton{
  background-color: red;
  border-radius: 50%;
  color: var(--textColor);
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  margin-top: 20px;
}


.task-section{
  display: flex;
  justify-content: space-around;
  width: 80%;
  flex-wrap: wrap;
}

.header{
  background-color: var(--SecondBackgroundColor);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}

.header--title, .tasks-counter{
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 5px;
}

.card{
  background-color: var(--ThirdBackgroudColor);
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  margin-right: 20px;
}

.form-section{
  width: 15%;
  height: 100%;
  
}
.form-container{
  height: 100%;
  background-color: var(--ThirdBackgroudColor);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.input{
  margin-top: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

textarea{
  max-width: 90%;
  max-height: 200px;
}
.btn{
  margin-top: 20px;
  color: #fff;
  background-color: var(--SecondBackgroundColor);
  cursor: pointer;
  height: 2rem;
 border: none;
  outline: none;
}
.btn:hover{
  background-color: #0b1750;
}
