
:root{
  --SecondBackgroundColor: #050a20;
  --ThirdBackgroudColor: #fff;
  --textColor: #fff;
}

.gral-container{
 display: flex;
 width: 100%;
 height: 70vh;
 align-items: space-around;
 justify-content: space-around;
 flex-wrap: wrap;
}

.task-section{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.header{
  background-color: var(--SecondBackgroundColor);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}

.header--title, .tasks-counter{
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 5px;
}

.card{
  background-color: var(--ThirdBackgroudColor);
  border-radius: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  margin-right: 20px;
}

.form-section{
  width: 15%;
  height: 100%;
}
.form-container{
  height: 100%;
  background-color: var(--ThirdBackgroudColor);
  display: flex;
  flex-direction: column;
}

.input{
  margin-top: 20px;
  margin-bottom: 10px;
}