
:root{
  --SecondBackgroundColor: #050a20;
  --textColor: #fff;
}
.header{
  background-color: var(--SecondBackgroundColor);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header--title{
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}